
<!DOCTYPE html>
{%extends 'eapp/home.html'%}

{%block body_block%}
{%load static%}
<div>&nbsp;</div>

<img class="main_pic" src="{%static 'images/m2.jpg'%}"/>
<h1>About Us:</h1>
<p>
    <h4>NBKRIST Commitment: </h4>
    <i>The Vision, Mission, Core Values, and Quality Policy of NBKR Institute of Science & Technology together form the foundation of the institution’s academic excellence, ethical leadership, innovation, and social contribution.
     These principles guide every initiative undertaken in the pursuit of future-ready engineers and responsible citizens.<br>
     Promote high-quality research, innovation, and publications.<br>
     Maintain global standards of excellence in teaching, consultancy, and creativity.<br>
     Collaborate with industries and institutes for skill development, knowledge sharing, and entrepreneurship.<br></i>
</p>
<p>
    <h4>Vision:</h4>
    <i>To emerge as a comprehensive institute that provides quality technical education and research, thereby building a valuable human resource for industry and society.
    Long-term academic aspiration of the institution.NBKRIST is committed to shaping future-ready engineers through disciplined learning, research orientation, innovation, and values-driven education. These principles guide every academic and administrative initiative undertaken by the institution.</i>
</p>
<p>
    <h4>Mission:</h4>

<h6>1.Learner-Centered Environment</h6>
<i>Provide an environment that encourages active participation and continuous engagement in the educational process.</i>
<h6>2.Faculty Empowerment</h6>
<i>Empower faculty to excel in teaching while engaging in research, creativity, and public service.</i>
<h6>3.Professional and Ethical Growth</h6>
<i>Develop effective learning skills, critical thinking, and professional competence with strong ethical values.</i>
<h6>4.Industry and Community Connection</h6>
<i>Reach out to industries, schools, and public agencies to partner and share human and academic resources.
</p></i>

<p>
    <h4>Core Values:</h4>

<h6>1.Integrity</h6>
Adhering to the highest standards of honesty, fairness, trust, and integrity in personal and professional behavior.

<h6>2.Excellence</h6>
Persistent commitment to hard work, diligence, perseverance, and consistency in the pursuit of the highest quality.

<h6>3.Social Responsibility</h6>
Providing opportunities that enhance lives and enable intellectual, economic, social, and cultural growth.

<h6>4.Continuous Improvement</h6>
Imbibing a culture of steady, meaningful, and measurable improvement across all institutional activities.

<h6>5.Equitability</h6>
Appreciating diversity in the student body, faculty, and staff through civility and a commitment to tolerance.
</p>

{%endblock%}