<!DOCTYPE html>
{%extends 'eapp/home.html'%}

{%block body_block%}
{%load static%}
<div>&nbsp;</div>
<div class="db">

    <div class="dtext">
        <center><h4>ELECTRONICS AND COMMUNICATION ENGINEERING</h4></center>

        <p>
            The Department of Electronics and Communication Engineering (ECE) was established in 1980 and has since met the growing demands of industry and society. The department has seven Ph.D. holders, and many faculty members are pursuing their Ph.D. in various areas of ECE. The staff members are well-qualified and experienced. The department has state-of-the-art laboratory facilities. It has an undergraduate intake of 240 students. 
    
        </p>
    </div>

    <div class="dimage">
        <img src="{% static 'images/cse5.png' %}" alt="CSE">
    </div>

</div>
<div>
    <u><h4>Classroom&Lab:</h4></u>
    <img class="image1" src="{% static 'images/cse3.png' %}" alt="CSE">
    <img class="image2" src="{% static 'images/eee2.jpg' %}" alt="CSE">
    <img class="image3" src="{% static 'images/eee4.jpg' %}" alt="CSE">
    <img class="image4" src="{% static 'images/eee1.jpg' %}" alt="CSE">
    <img class="image5" src="{% static 'images/cse.png' %}" alt="CSE">
</div>
<div>&nbsp;</div>
<div class="admin">
    <center>
         <h2 >Looking for Admission???</h2>
        <p ><b>
Thank you for considering NBKR Institute of Science & Technology for your engineering education.
 Choosing the right college is an important milestone, and we are delighted to invite you to visit our campus and experience our academic environment first-hand.
        </p></b>
       
         <a href="/contact/"><button>Register</button></a>
        </center>
        </div>
    {%endblock%}