<!DOCTYPE html>
{%extends 'eapp/home.html'%}

{%block body_block%}
{%load static%}
<div>&nbsp;</div>
<div class="db">

    <div class="dtext">
        <center><h4>ELECTRICAL AND ELECTRONICS ENGINEERING</h4></center>

        <p>
           The Department continuously strives for emphasizing qualities of excellence, commitment, creativity of its students in all the endeavors and maintains a distinct link with the leading corporate sectors and well connected alumni network. With the advent of Autonomous status, the course pattern is often revised to match the current needs of the industries. The curriculum is updated on regular basis as per the guidelines of Board of Studies (BOS).
        </p>
    </div>

    <div class="dimage">
        <img src="{% static 'images/eee.jpg' %}" alt="CSE">
    </div>

</div>
<div>
    <u><h4>Classroom&Lab:</h4></u>
    <img class="image1" src="{% static 'images/eee1.jpg' %}" alt="CSE">
    <img class="image2" src="{% static 'images/eee2.jpg' %}" alt="CSE">
    <img class="image3" src="{% static 'images/eee3.jpg' %}" alt="CSE">
    <img class="image4" src="{% static 'images/eee4.jpg' %}" alt="CSE">
    <img class="image5" src="{% static 'images/cse5.png' %}" alt="CSE">
</div>
<div>&nbsp;</div>
<div class="admin">
    <center>
         <h2 >Looking for Admission???</h2>
        <p ><b>
Thank you for considering NBKR Institute of Science & Technology for your engineering education.
 Choosing the right college is an important milestone, and we are delighted to invite you to visit our campus and experience our academic environment first-hand.
        </p></b>
        
         <a href="/contact/"><button>Register</button></a>
        </center>
        </div>


{%endblock%}