<!DOCTYPE html>
{%extends 'eapp/home.html'%}

{%block body_block%}
{%load static%}
<div>&nbsp;</div>
 <b><h2> LATEST NEWS</h2></b>
 <div class="newsinfo">

<div class="news"><b>Latest News...</b></div> 
 <div class="info"> 
  

     
   <p> Dear Students and Parents,<br>
It gives me immense pleasure to welcome you to NBKR Institute of Science & Technology. Choosing the right institution is one of the most important decisions in a student's life. We invite you to visit our beautiful campus, interact with faculty members, explore our academic facilities, laboratories, library, hostel accommodations and student support services.
We are pleased to explain why joining NBKR Institute of Science and Technology (NBKRIST) is the right choice for your academic and professional future before making your admission decision.Parents and prospective students seeking admission to B.Tech programs for the Academic Year 2026–27 are cordially invited to visit the campus and explore the academic environment, infrastructure, laboratories, library, hostel facilities and student support services.
Visit the campus and discover your future college.</p>

<p>
  Faculty Recruitment Notification 2026-2027<br>
NBKR Institute of Science & Technology (NBKRIST) has built a respected legacy as one of the most admired institutions for technical education. With a strong academic foundation, modern infrastructure, and a culture that values knowledge, discipline, and innovation, NBKRIST continues to inspire students and faculty alike.

The institution provides a vibrant environment where teaching, research, mentorship, and professional growth go hand in hand. Faculty members at NBKRIST are empowered to contribute meaningfully to academic excellence, industry-relevant learning, and the holistic development of students.

We welcome passionate academicians and researchers who aspire to shape young minds, strengthen innovation, and be part of a forward-looking institution that stands for quality and excellence.
</p>
</div>
</div>


{%endblock%}