<!DOCTYPE html>
{%extends 'eapp/home.html'%}

{%block body_block%}
{%load static%}
<div>&nbsp;</div>

<div>
    <b><h2>Photos:</h2></b>
    <img class="image1" src="{% static 'images/cse1.jpg' %}" alt="CSE">
    <img class="image1" src="{% static 'images/i1.jpg' %}" alt="CSE">
    <img class="image3" src="{% static 'images/i2.jpg' %}" alt="CSE">
    <img class="image2" src="{% static 'images/cse2.jpg' %}" alt="CSE">
    <img class="image4" src="{% static 'images/cse4.png' %}" alt="CSE">
     <div>&nbsp;</div>
    <img class="image2" src="{% static 'images/i3.jpg' %}" alt="CSE">
    <img class="image3" src="{% static 'images/i4.jpg' %}" alt="CSE">
   <img class="image1" src="{% static 'images/eee1.jpg' %}" alt="CSE">
    <img class="image2" src="{% static 'images/eee2.jpg' %}" alt="CSE">
    <img class="image2" src="{% static 'images/i5.jpg' %}" alt="CSE">
     <div>&nbsp;</div>
    <img class="image3" src="{% static 'images/eee3.jpg' %}" alt="CSE">
    <img class="image4" src="{% static 'images/eee4.jpg' %}" alt="CSE">
    <img class="image5" src="{% static 'images/cse5.png' %}" alt="CSE">

</div>






{%endblock%}