<!DOCTYPE html>
{%extends 'eapp/home.html'%}

{%block body_block%}
{%load static%}
<div>&nbsp;</div>

<h2>Videos</h2>

 <iframe width="500px" height="350px" src="https://www.youtube.com/embed/WDSJB4r7ROY" title="NBKR Institute Of Science and Technology | Kota Mandal, Vidyanagar,| ONE MAN STUDIO |" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 <iframe width="500px" height="350px" src="https://www.youtube.com/embed/NQoccdWtVX0" title="&quot;Exposed: The Brutally Honest Truth About NBKR Vidyanagar College!&quot;|&quot;Unveiling NBKR Vidyanagar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 <iframe width="500px" height="350px" src="https://www.youtube.com/embed/dgUzhkdcP8Q" title="NBKR INSTITUTE OF SCIENCE &amp; TECHNOLOGY-ECE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 <div>&nbsp;</div>
 <iframe width="500px" height="350px" src="https://www.youtube.com/embed/MF11KPJDC8o" title="మా College Tour |NBKR|NBKR Institute of science and technology|College Tour|NBKRIST|B.tech|" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="500px" height="350px" src="https://www.youtube.com/embed/WGA6pl6Jci4" title="NBKRIST College Overview—Latest 2025" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="500px" height="350px" src="https://www.youtube.com/embed/bAxb8mzvbMo" title="NBKR INSTITUTE OF SCIENCE &amp; TECHNOLOGY-ECE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>







{%endblock%}